.what_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
}
.what_heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap:25px;
}
.what_heading p{
    font-size:28px;
    font-weight: 400;
}
.what_heading h1{
    font-size:36px;
    line-height:1.2;
    padding:0 100px;
}
.what_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
@media(max-width:1200px){
    .what_heading h1{
        font-size:24px;
        padding:0;
    }
}
@media(max-width:1000px){
    .what_heading h1{
        font-size:22px;
        padding:0 10px;
    }
    
    .what_heading p{
        font-size:18px;
    }
    .what_img{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
    align-items: center;
}
}
@media(max-width:600px){
    .what_heading h1{
        font-size:18px;
        line-height:1.5;
    }
    .what_heading p{
        font-size:14px;
    }
}