.why{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items:center;
    width:100%;
    gap:25px;

    background-color: #F8F9FA;
    min-height: 100vh;
    overflow: hidden;
}
.heading_why{
    display:flex;
    flex-direction:column;
    text-align:center;
    align-items:center;
    justify-content: center;
    width:70%;
    /* gap:25px; */

    padding: 25px;
}
.heading_why h1{
    font-size:32px;
    font-weight: 200;
    padding: 40px;
}
.heading_why p{
    font-size:48px;
    font-weight: 600;
    line-height:1.4;
}
.why_quotes{
    width:80%;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items:center;
    gap:75px;

    padding: 15px 0;
    font-size: 30px;
}
.why_quotes1{
    width:75%;
    gap:25px;
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    text-align:start;
}
.why_quotes1 p{
    margin:25px 0;
}
.why_quotes2{
    width:75%;
    gap:25px;
    display: flex;
    flex-direction:column;
    align-items:flex-end;
    text-align:end;
}
.why_quotes2 p{
    margin:25px 0;
}

.img{
    object-fit: cover;
}

@media(max-width: 1550px){
    .why{
        justify-content: center;
    }
    .heading_why{
        width: 70%;
    }
    .heading_why h1{
        font-size: 35px;
    }
    .heading_why p{
        width: 80%;
        font-size: 40px;
    }
    .why_quotes{
        font-size: 28px;
    }
}

@media(max-width: 1200px){
    .heading_why h1{
        font-size: 28px;
    }
    .heading_why p{
        width: 100%;
        font-size: 38px;
    }
    .why_quotes{
        width: 100%;
        font-size: 23px;
    }
}

@media(max-width: 750px){
    .heading_why{
        width: 85%;
    }
    .heading_why h1{
        font-size: 23px;
    }
    .heading_why p{
        width: 80%;
        font-size: 28px;
    }
    .why_quotes{
        font-size: 20px;
    }
}

@media(max-width: 450px){
    .heading_why{
        padding: 10px;
        width: 92.5%;
    }
    .heading_why h1{
        font-size: 20px;
    }
    .heading_why p{
        width: 100%;
        font-size: 22px;
    }
    .why_quotes{
        padding-top: 0;
        font-size: 15px;
    }
}
/* @media(max-width:1000px){
    .heading_why{
        width:100%;
    }
    .heading_why h1{
        font-size:22px;
        padding:0 15px;
    }
    
.heading_why p{
    font-size:18px;
}
    .why_quotes{
        width:100%;
    }
    .why_quotes1{
        width:100%;
        padding:0 15px;
    }
    .why_quotes2{
        width:100%;
        padding:0 15px;
    }
}
@media(max-width:600px){
    .heading_why h1{
        font-size:18px;
        line-height:1.5;
    }
       
.heading_why p{
    font-size:14px;
}
} */