
.container{
    padding: 2.75rem;
    display: flex;
    flex-direction: column;
}

.about{
    text-align: left;
}

.prereqContainer{
    margin-top: .75rem;
}

.heading{
    padding: .5rem 0;
    text-decoration: underline;
    text-decoration-color: #FF7700;
    text-decoration-thickness: 2.3px;
    font-size: 1.25rem;
    font-weight: bolder;
}

.about{
    font-weight: light;
}
