
.page-container{
    padding: 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.description-container{
    flex: 2;
    min-width: 450px;
}

.info-container{
    padding: 1.5rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}