.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    background: #f8f9fa;
    border-radius: 15px;
    border: 1px #d6d8e5 solid;
    margin-bottom: 20px;
    padding: .75rem;
    align-items: center;
    max-width: 400px;

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.098);
    gap: 25px;
}

.name{
    align-self: flex-start;
}

.description{
    margin-top: 5px;
}

.Image{
    border-radius: 15px;
    object-fit: cover;
}