@import url("https://fonts.googleapis.com/css2?family=JetBrains Mono");

:root {
  --orange: #ff7700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
