.media_showcase {
    background-color: #FC7600;
    margin: 0;
    padding: 8.5vh 5vw;
}

.media_showcase h1 {
    color: white;
}

.media_showcase small {
    color: white;
}

.media_gallery {
    margin: 50px 10px;
    line-height:0;
    column-count: 3;
    column-gap:10px;
    overflow: hidden;
}

@media (max-width: 1080px) {
    .media_gallery {
        column-count: 1;
    }
}

.image_container {
    overflow: hidden;
    margin-bottom: 10px;
}

.media_gallery img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transform: scale(1);
    transition: .3s ease-in-out;
}  

.media_gallery img:hover {
    transform: scale(1.2);
    /* filter: grayscale(0.2); */
}